.App {
  font-family: sans-serif;
  text-align: center;
}
.menu {
  transform: translateY(-30px);
  /* top: -30px;
  position: relative; */
  background-color: white;
  width: 12rem;
  cursor: pointer;
}

.eachopt {
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.dropIcon {
  position: relative;
  left: -25px;
}

input::selection {
  background-color: white;
}
input {
  caret-color: transparent;
}

input::after {
  content: "&#9660";
}
